#search-past-reservation-btn {
    background-color: #04AA6D;
    color: white;
    border-radius: 3px;
    padding: 10px 16px;
    margin: 5px 5px;
}

#search-past-reservation-btn:hover {
    opacity: 0.8;
}

img {
  height: 114px;
  width: 150px;;
}

#manager-add-btn {
  background-color: #8D8DAA;
  color: white;
  border-radius: 3px;
  padding: 10px 16px;
  margin: 5px 5px;
  position: absolute;
  right: 0px;
  top: 0px;
}

#manager-add-btn:hover {
  opacity: 0.8;
}

/* Popup css */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  left: 35%;
  right: 35%;
  border: 3px solid #f1f1f1;
  height: 500px;
  z-index: 9;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#search1 {
  width: 40%;

}

h3 {
  text-align: center; 
  color: white; 
  padding-top: 5px; 
}

#errorTag {
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgb(221, 94, 94);
}

#search2 {
  width: 60%;
}

ul {
  padding: 10px;
}

li {
  border: #ddd solid 1px;
  padding: 10px 0px;
}

li:hover {
  background-color: #ddd;
}

span {
  float: right;
  padding-right: 5px;
}

#car-add-btn {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #manager-add-btn {
    border-radius: 3px;
    padding: 10px 16px;
    margin: 5px 5px;
    right: 0px;
    top: 50px;
    z-index: 5;
  }
  table {
    margin-top: 50px;
  }
  .form-popup {
    left: 20%;
    right: 20%;
  }

  #search1 {
    width: 100%;
  
  }
  
  
  #search2 {
    width: 100%;
  }

  #scrollable {
    max-height: 500px;
    overflow-y: scroll;
  }
}