body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

#center {
    position:absolute;
    width:400px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
}

#container {
    text-align: center;
}

/* This part for form. */
#login {
    padding: 0 50px 0 50px;
    background-color: #585857;
    opacity: 0.9;
}


/* for image */
#login-img {
    border-color: aqua;
    border-width: 2px;
}

/* for buttons */
#login-btn {
    background-color: #e7633b;
    color: white;
    border-radius: 3px;
    padding: 10px 16px;
    margin: 8px 5px;
    width: 30%;
}

#login-btn:hover {
    opacity: 0.8;
}

#signup-btn {
    background-color: rgb(71, 100, 197);
    color: white;
    border-radius: 3px;
    padding: 10px 16px;
    margin: 8px 5px;
    width: 30%;
}

#signup-btn:hover {
    opacity: 0.8;
}

label {
    width: 7rem;
    display: inline-block;
    color: white;
    font-size: large;
}

input {
    font-size: large;
}

body {
    background: url(../img/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3 {
    text-align: center; 
    color: white; 
    padding-top: 5px; 
}

#errorTag {
    border: 1px solid white;
    border-radius: 6px;
    background-color: rgb(221, 94, 94);
}

@media (max-width: 768px) {

    #center {
        position:absolute;
        width:300px;
        bottom:5rem;
        right:25%;
        left:50%;
        margin-left:-150px;
    }

    #login {
        padding: 20px 10px 20px 10px;
        background-color: #585857;
        opacity: 0.9;
    }
}