body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F7F5F2;
    font-family: Arial, sans-serif;
}


#container {
    text-align: center;
}

#car-list-div {
    position: relative;
}

/* to show the forms inline */
#search1 {
    width: 30%;
    padding: 0 20px;
}

#search2 {
    width: 70%;
    padding: 0 20px;
}

#cars {
    display: inline-block;
    width: 45%;
    text-align: center;
    margin: 10px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
}

#rent-btn {
    padding: 8px 14px;
    border-radius: 2px;
    text-decoration: none;
}

#rent-btn:hover {
    color: white;
    background-color: #8D8DAA;
}

img {
    height: 128px;
    width: 250px;;
}

.car-style {
    border: #8D8DAA solid 1px;
}

#cars:hover {
    color: white;
    background-color: #2B2E4A;
}

/* Select font-size */
label {
    font-size: large;
}
select {
    font-size: large;
}

/* Search-btn */
#search-btn {
    background-color: #04AA6D;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 3px 3px;
    width: 30%;
    float: right;
}

#search-btn:hover {
    opacity: 0.8;
}

/* to group type-price-date options */
.item-group {
    border: 1px solid #ddd;
    padding: 5px 0 0 5px;
    background-color: white;
}   

#search-past-reservation-btn {
    background-color: #8D8DAA;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 3px 3px;
    width: 30%;
}

#search-past-reservation-btn:hover {
    opacity: 0.8;
}


.check-box {
    height: 20px;
    width: 20px;
    background-color: #eee;
}


.fa-heart-o {
    color: red;
    cursor: pointer;
  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
  }

  p {
      color: #8486A0;
  }
  
  @media (max-width: 768px) {
      #cars {
          display: block;
          width: 90%;
      }
  }


  #errorTag {
      color: white;
    border: 1px solid white;
    border-radius: 6px;
    background-color: rgb(221, 94, 94);
}